<div class="container py-5">
  <h2 class="text-center text-white">BIDPlus Weather App</h2>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3 class="text-center my-4 text-white">Weather By City</h3>

      <form
        class="d-flex flex-column align-item-center justify-content-center"
        style="height: 300px"
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <label class="text-white fs-6">Enter City Name</label>

        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a city here"
            formControlName="location"
          />
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-success btn-md">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <h3 class="text-center my-2 text-white">
        Weather Details: {{ weatherSearchForm.value?.location }}
      </h3>
      <div class="container-fluid" *ngIf="weatherData">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-sm-12 col-xs-12">
            <div class="text-center">
              <span class="text-white fs-5 " >{{ getCurrentDateTime() | date:'fullDate' }}</span>
            </div>
            <div
              class="card p-4 my-2"
              [ngClass]="getDayorNight() ? 'bg-img' : 'bg-night'"
            >
              <div class="d-flex">
                <h4 class="flex-grow-1">{{ currentDetails?.name }}</h4>
                <h6>
                  {{ getDay()?.name}},
                  {{ getCurrentDateTime() | date:'shortTime' }}
                  <i-feather
                    (click)="sendToAPIXU(weatherSearchForm.value)"
                    name="refresh-cw"
                    class="small"
                  ></i-feather>
                </h6>
              </div>

              <div class="d-flex flex-column temp mt-5 mb-3">
                <h1 class="mb-0 font-weight-bold" id="heading">
                  {{ weatherData?.current?.temp }}&deg; c
                </h1>
                <span class="small grey"
                  >{{ currentDetails?.weather[0]?.main }}
                  {{ currentDetails?.main?.humidity }}% Humidity</span
                >
              </div>

              <div class="d-flex">
                <div class="temp-details flex-grow-1">
                  <p class="my-1">
                    <i-feather
                      name="wind"
                      style="width: 16px !important"
                    ></i-feather>

                    <span class="ml-4">
                      {{ weatherData?.current?.wind_deg | squareRoot | number:'1.2-2' }}
                      km/h
                    </span>
                  </p>
                  <p class="my-1">
                    <i-feather
                      name="sunrise"
                      style="width: 16px !important"
                    ></i-feather>

                    <span class="ml-4">
                      {{ weatherData?.current?.sunrise | timestampToTime }}
                    </span>
                  </p>
                  <p class="my-1">
                    <i-feather
                      name="sunset"
                      style="width: 16px !important"
                    ></i-feather>

                    <span class="ml-4">
                      {{ weatherData?.current?.sunset | timestampToTime }}
                    </span>
                  </p>
                </div>

                <div>
                  <ng-lottie
                    *ngIf="getDayorNight()"
                    width="100px"
                    height="100px"
                    containerClass="moving-box"
                    [options]="lottieConfig"
                  ></ng-lottie>
                  <ng-lottie
                    *ngIf="!getDayorNight()"
                    width="100px"
                    height="100px"
                    containerClass="moving-box"
                    [options]="nightConfig"
                  ></ng-lottie>
                  <ng-lottie
                    *ngIf="currentDetails?.weather[0]?.main =='Rain'"
                    width="150px"
                    height="150px"
                    containerClass="moving-box"
                    [options]="rainingConfig"
                  ></ng-lottie>
                </div>
              </div>
            </div>
            <div class="scrollmenu">
              <div class="border text-center pt-2" *ngFor="let eachDay of weatherData['daily']" [ngStyle]="{'background-color': compareDate(eachDay?.sunrise) ? '#073688' : 'none' }" >
                <span>{{ getCurrentDateTime(eachDay?.dt) | timestampToTime :'EEE' | date : 'EEE'}}</span><br>
                <i-feather *ngIf="eachDay?.weather[0]?.main =='Rain'" name="cloud-rain" class="small" ></i-feather>
                <i-feather *ngIf="eachDay?.weather[0]?.main !='Rain'" name="cloud" class="small" ></i-feather>
                <br>
                <span style="font-size: smaller;" >{{eachDay?.temp?.min | number:'1.1-1'}}&deg;/{{eachDay?.temp?.max | number:'1.1-1'}}&deg;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      


      <div class="p-4">
        <div
          class="row justify-content-center text-white error-msg"
          *ngIf="error"
        >
          <h6>{{ error?.cod }}</h6>
          <h6>{{ error?.message | uppercase }}</h6>
        </div>
      </div>
      <div class="p-5">
        <div
          class="row justify-content-center text-white"
          *ngIf="!weatherSearchForm.value?.location"
        >
          Please Enter The City Name
        </div>
      </div>
    </div>
  </div>
</div>
